body {
    background-image: url("../images/hogwarts-bg.jpg");
    background-size: 120%;
    font-family: 'Cinzel Decorative', cursive;
}

h1,
h2,
h3 {
    color: white;
}

.gryffindor {
    background-color: rgb(209, 4, 4);
}

.slytherin {
    background-color: rgb(31, 146, 31);
}

.selection>.card {
    cursor: copy;
}

em {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 700;
    font-size: 1.2em;
    color: rgb(209, 4, 4);
}

.card-body {
    padding: 5px;
    text-align: center;
}

.card-title {
    margin: 0;
}

.nameText,
.healthText {
    font-weight: 700;
    font-size: 25px;
}

#attackBtn,
#restartBtn {
    font-weight: 700;
    font-size: 20px;
}

.nameText {
    padding-top: 10px;
    margin-bottom: 0;
}

#opponentCard p,
#heroCard p {
    margin-bottom: 0;
}

.row {
    text-align: center;
}

#attackBtn {
    margin-top: 8em;
}

#narrationText,
#instruction {
    font-family: 'Lancelot', cursive;
}