body {
    background-image: url("../images/hogwarts-bg.jpg");
    background-size: 120%;
}

h1,
h2,
h3 {
    color: white;
}

.selection>.card {
    cursor: copy;
}

.card-body {
    padding: 5px;
    text-align: center;
}

.card-title {
    margin: 0;
}

.row {
    text-align: center;
}

#attackBtn {
    margin-top: 8em;
}